/********** common setting **********/
html{
    scroll-behavior: smooth;
}

h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

.italic {
    font-style: italic;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    /* transform: translateY(-5px); */
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #023047;
    color: #ffffff;
}

.cta-blue:hover {
    color: #023047;
    background: #d3d3d3;
    border: 1px solid #023047;
}

.parrafo {
    color: grey;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.precio {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.divisa {
    font-size: 2.5rem;
}

.text-white {
    color:#fff !important;
    text-decoration: none;
}

.division {
    color: #fff;
    font-size: 1.25rem;
    padding-right: 10px;
} 

.ul-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu {
    font-size: 1.25rem;
    font-weight: 500; 
    text-decoration: none; 
    color: black;
} 

.nav-menu:hover {
    /* text-decoration: none; */
    background-color: #219EBC;
    border-radius: 22px;
    color: black;
} 

.subrayado {
    color: #219EBC;
}

/********** banner **********/
#banner {
    background-size: cover;
    padding: 0 0 2rem 0;
}

#banner header {
    background-color: rgba(142, 202, 230, 0.3);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburguesa {
    display: none;
} 

.nav-bar ul {
    display: flex;
} 

.nav-bar ul li a {
    display: block;
    padding: 10px 15px;
    transition: 0.2s;
    margin: 0 5px;
}

/* @media only screen and (max-width: 900px) {
    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        position: absolute;
        height: 0;
        top: 117px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 175px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 0 auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

} */

.display-3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:4.5rem;
    font-weight:300;
    line-height:1.1
}
/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #0d7735 0);
}

#feature-last {
    background: #00FFAD;
}

/********** price table **********/
#precio {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

/* #price-table__premium {
    background: #192440;
    color: #ffffff;
} */

#precio ul li {
    padding: 5px 0;
}

.condicion {
    display: flex;
    justify-content: center;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #00FFAD;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

.medio-contacto {
    color: rgb(187, 187, 187);
}

.medio-contacto:hover {
    text-decoration: none;
    color: rgb(98, 126, 145);
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #023047;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }

    .logo-and {
        max-width: 45%;
    }
}